@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  background: image_url('fishnets-and-hearts.png');
}

h1{
  color: #DE1FDB;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.article.post{
  -webkit-box-shadow:1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow:1px 1px 2px 0 #d0d0d0;
  box-shadow:1px 1px 2px 0 #d0d0d0
}
.article-container article.post{
  background:#fff;
  border:1px solid #ccc;
  border-color:#e4e4e4 #bebebd #bebebd #e4e4e4;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}